.runcode {zoom:1;}
.runcode p{margin:0;}
.runcode_text {display: block;height: 180px;width: 100%;color:#ccc;overflow-x:hidden;letter-spacing:1px;text-shadow:1px 1px 1px #111;font-family:Consolas,Fixedsys;padding:2px;font-size:13px;line-height:1.5em;background:#404040;border:3px inset #eee;}
.runcode_button{border:1px solid #ccc;font-size:16px;font-weight:bold;cursor: pointer;
	border-radius:3px;
	text-shadow:1px 1px 0 #eee;
	box-shadow:1px 0 1px #999;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#eee, endColorstr=#aaa);
	background: linear-gradient(top, #eee, #ccc ,#aaa,#aaa,#aaa);
	background: -moz-linear-gradient(top, #eee, #ccc ,#aaa,#aaa,#aaa);
	background: -webkit-gradient(linear, 0 0, 0 100% , from(#eee),to(#aaa));
	background: -webkit-linear-gradient(0 0, #eee, #ccc ,#aaa,#aaa,#aaa);
}
